*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* arka plan gif için */
    background-image: url(./images/Desert.gif);
    height: 1500px; /* arkaplanın boyutunu buradan değiştirebilirsin */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header{
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    position: relative;
    width: 100%;
    /* transparant görünümün boyutu */
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    /* transparant görünümün boyutu */
    display: flex;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
    margin: auto;
    font-family: "Alegreya", serif;
    height: 100px;
}
header *{
    display: inline;
}
header .navigation a{
    color: rgb(27, 22, 15);
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 10px 30px;
    font-family: "Alegreya", serif;
}
.line {
    display: inline-block;
    font-family: "Alegreya", serif;
}
.line:after{
    content: '';
    margin: auto;
    display: block;
    height: 2px;
    width: 0%;
    background-color: transparent;
    transition: 0.4s;
    
}
.line:hover:after{
    width: 100%;
    background-color: rgb(27, 22, 15);
}

.dropbtn{
    border: none;
    outline: none;
    background-color: inherit;
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: 0.4s;
    font-weight: 900;
    font-family: "Alegreya", serif;
    font-size: 16px;
    color: rgb(27, 22, 15);
    display: inline-block;
}
.dropdown:hover .dropbtn{
    border-radius: 20px;
    transition: 0.4s;
}
.dropbtn:after{
    content: '';
    margin: auto;
    display: block;
    height: 2px;
    width: 0%;
    background-color: transparent;
    transition: 0.4s;
}
.dropbtn:hover:after{
    width: 100%;
    background-color: rgb(27, 22, 15);
}
.dropdown-content{
    /* "movie"ye tıkladığında çıkan seçeneklerin arka planı */
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    width: 200px;
    margin-left: 50px;
    border-radius: 20px;
    font-family: "Alegreya", serif;
}
.dropdown-content a{
    display: block;
    float: none;
    margin: 10px;
    transition: 0.4s;
    font-family: "Alegreya", serif;
}
.dropdown:hover .dropdown-content{
    display:block;
}

hero{
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    top: 0px;
    left: 0;
    right: 0;
    height: 550px;
    display: flex;
    padding: 100px 150px;
    justify-content: space-between;
    
}
hero .main-text {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(27, 22, 15);
    font-size: 35px;
  }
hero .main-text2 {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(27, 22, 15);
}
hero .button {
    position: absolute;
    background-color: rgb(27, 22, 15);
    color: #948770;
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: "Alegreya", serif;
}

.info-text {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 36px;
    font-style: bold;
    font-weight: 600;
    color: rgb(27, 22, 15);
    font-family: "Alegreya Sans", sans-serif;
}
.box-con{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
    background-color: #353333;
}
.box-con:hover{
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 15px 5px rgb(27, 22, 15);
}
.box-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px rgb(27, 22, 15);
    transition: 0.5s;
}
.box-img:hover{
    width: 250px;
    height: 250px;
    border: 3px rgb(27, 22, 15);
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    
}
.names{
    text-align: center;
    padding: 30px;
    font-size: 18px;
    color: rgb(27, 22, 15);
    font-family: "Alegreya", serif;
}

.quote-section{
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    position: relative;
    width: 100%;
    /* transparant görünümün boyutu */
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    /* transparant görünümün boyutu */
    display: flex;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
    margin: auto;
}
.quote{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: rgb(27, 22, 15);
    font-family: "Alegreya", serif;
    font-style: italic;
}

.call-to-action{
    display: flex;
    background: rgb(41, 33, 23);
    height: 150px;
    width: 50%;
    flex: 1 1 0;
    margin: 70px;
    text-align: center;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 400px;
}
.c-text1{
    color: #948770;
    font-family: "Alegreya", serif;
}
.c-button{
    font-family: "Alegreya", serif;
    background-color: #948770;
    color: rgb(41, 33, 23);
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-height: 30px;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.footer{
    display: flex;
    margin-top: 300px;
    justify-content: center;
    font-family: "Alegreya", serif;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    align-items: center;
}

